<!DOCTYPE HTML>
<html>
<head>
<title>Curriculum Vitae | Home ::</title>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
 <link href="/static/css/dashboard.css" rel="stylesheet">
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Curriculum Vitae Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- start menu -->
</head>
<body>
<!-- header -->
<div class="col-sm-3 col-md-2 sidebar">
		 <div class="sidebar_top">
			 <h1>AMAN KUMAR</h1> 
			 <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/053/195/01e2754.jpg" alt=""/>
		 </div>
		<div class="details">
			 <h3>CONTACT</h3>
			 <p>7065488642</p>  	 
			 <h3>EMAIL</h3>
			<p><a href="mailto:amankumar0511@gmail.com">amankumar0511@gmail.com</a></p>
		</div>
		<h3 style="color:white;font-size: 19px;">LINKS</h3>
			<div class="row">
				<div class="col-md-1">
					<a href="https://github.com/aman0511" class="btn btn-social-icon btn-github"><i class="fa fa-github" style="color:#444444"></i></a>
	  			</div>
	  			<div class="col-md-1">
					<a href="https://in.linkedin.com/pub/aman-kumar/86/a1a/97" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin" style="color:#007BB6"></i></a>
	  			</div>
			</div>
</div>
<!---->
<link href="/static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
<script src="/static/js/jquery.magnific-popup.js" type="text/javascript"></script>
	<!---//pop-up-box---->			
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	 <div class="content">
		 <div class="details_header">
			 <ul>
				 <li><a href="index.html"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Resume</a></li>
				 <li><a href="#" onclick="myFunction()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>Print CV</a></li>
				 <li><a href="contact.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Email me</a></li>
				 <li><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>View photo</a></li>
				 <div id="small-dialog" class="mfp-hide">
					 <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/053/195/01e2754.jpg" alt=""/>
				 </div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>
			 </ul>
		 </div>
		 <div class="company">
			 <h3 class="clr1">Previous Employment</h3>
			 <div class="company_details">
				 <h4>91SPRINGBOARD<span>JAN 2015 - PRESENT</span></h4>
				 <h6>WEB DEVELOPER</h6>
				 <div class="cmpny1">
					 <p>Work as Junior Software Developer. My role is to design project structure, backend part, database managment and deployment of project for development server.
					 Python, Flask, Javascript, Jquery, Ajax, HTML, CSS technology is used in web app.</p>
					 <br>
					 <p><h5>PROJECTS</h5></p>
					 <div class="col-md-offset-1">
					 	Project Title: Events Plateform
					 	<div class="col-md-offset-1">
						 	<p><strong>Role and Responsibility:</strong> Design and develop project structure, Programming, deploy developmet server</p>
						 	<p><strong>Link:</strong> <a href="http://events.91springboard.com/" style="color:green;">Click Here</a></p>
						 	<p><strong>Duration:</strong> FEB 2015- JULY 2015</p>
						 	<p><strong>Team Size:</strong> 3</p>
						 	<p><strong>Enviroment:</strong> Python, Flask, Mysql, Jquery, Javascript, Ajax, AWS, nginx, HTML, CSS.</p>
						 	<p><strong>Description:</strong> 91springboard is a co-working company. This project is a web app for the 91springboard.com. It  record  the all events hosted or organised by the organisation. User can come and login/Signup with manual as well as social Login/Signup and register for the Event. There is good admin dashboard for the event creation for administration according to their role. </p>
						 </div>
					 </div>
					 <div class="col-md-offset-1">
					 	Project Title: Co-Working Web App
					 	<div class="col-md-offset-1">
						 	<p><strong>Role and Responsibility:</strong> Design and develop project structure, Programming, deploy developmet server</p>
						 	<p><strong>Duration:</strong> SEP 2015- CURRENT</p>
						 	<p><strong>Team Size:</strong> 4</p>
						 	<p><strong>Enviroment:</strong> Python, Flask, Mysql, Jquery, Javascript, Ajax, AWS, nginx, HTML, CSS.</p>
						 	<p><strong>Description:</strong> 91springboard is a co-working company. This project is a web app for the Co-worker. Which will maintain the all records of Co-worker.Such that Plane of the worker, Payment Reminder</p>
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
		 <div class="skills">
			 <h3 class="clr2">Professional skills</h3>
			 <div class="skill_info">
			 <p>I get excited about building really fast systems that connect people. Also, I feel most inspired when I am thinking through difficult problems with people I admire. That is the best feeling in the world.</p>
			 <p>I have total 10 months of experience in the field of wed application.I work on python language usning Flask/Django Framework, Javascript, Html and in the Devops I work on AWS, nginx, redis cache</p>
			 </div>
			 <div class="skill_list">
				 <div class="skill1">
					 <h4>Software</h4>
					 <ul>					 
						<li>Sublime</li>
						<li>Pycharm</li>
						<li> Eclipse</li>
						<li>nginx</li>
					 </ul>
				 </div>
				 <div class="skill2">
					 <h4>Languages</h4>
					 <ul>
					 	<li>Python</li>
					 	<li>C</li>
					 	<li>C++</li>
					 	<li>Core Java</li>					 
						<li>HTML/CSS(Basic)</li>
						<li>Javascript</li>
						<li>Jquery/Ajax</li>
						<li>Mysql</li>
					 </ul>
				 </div>
				 <div class="skill2">
					 <h4>Framework/Services/Package</h4>
					 <ul>
					 	<li>Flask</li>
					 	<li>Django</li>
					 	<li>AWS</li>
					 	<li>Redis Cache</li>
					 	<li>boto</li>
					 	<li>Rest API</li>
					 	<li>Social API and Different API</li>
					 </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
		 <div class="education">
			 <h3 class="clr3">Education</h3>
			 <div class="education_details">
				 <h4>Shri Mata Vaishno Devi University, Katra<span>AUG 2011 - MAY 2015</span></h4>
				 <h6>Btech(Computer Science)</h6>
				 <div class="cmpny1">
				 <p>I have Completed my graduation from Shri Mata Vaishno Devi University with aggregate 7.46.
				 <p><h5>College Projects</h5></p>
					 <div class="col-md-offset-1">
						 <ul>
						 	<li>Web application for College Festival "Resurgence-2014"</li>
						 	<li>Online Course management system for the college</li>
						 	<li>Online Complain System for the Student.</li>
						 </ul>
					 </div>
				 </div>
			 </div>
			 <div class="education_details">
				 <h4>Rammohunroy Seminary, Patna <span>JULY 2008 - APRIL 2010</span></h4>
				 <h6>10+2</h6>
				 <p>I completed my 10+2 in 2010 with aggregate 69.8 and 10 with aggregate with 75.4</p>
			 </div>
		 </div>
	 </div>
</div>
<!---->
<script>
function myFunction() {
    window.print();
}
</script>
</body>
</html>